<link rel="import" href="../js/polymer/polymer.html"/>
<polymer-element name="connecting-screen">
    <template>
        <style>.intro_content{
    display: inline-block;
    text-align: left;
    margin-top: 200px;
}

.intro{
    background-image: url("../css/img/intro_bg.png");
    background-repeat: no-repeat;
    width: 280px;
    height: 259px;
}

.start{
    background-image: url("../css/img/start_btn.png");
    background-repeat: no-repeat;
    width: 80px;
    height: 104px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}</style>
        <div class="intro_content">
            <div class="intro"></div>
            <div class="start" on-click="{{clickStart}}"></div>
        </div>
    </template>
    <script>/* jshint newcap: false */

var selfConnecting;
Polymer({

    bush: undefined,
    playersOnReady: false,

    ready: function(){
        selfConnecting = this;
    },
    onPlayersReady: function(){
        selfConnecting.playersOnReady = true;
    },
    clickStart: function(e){
        if(selfConnecting.playersOnReady == true){
            console.log('Start button');
            document.querySelector('.connectingscreen').style.display = 'none';
            document.querySelector('.content').style.display = 'inline';
            selfConnecting.playersOnReady = false;
        }
    }
});</script>
</polymer-element>
