<link rel="import" href="../js/polymer/polymer.html"/>
<polymer-element name="connecting-screen">
    <template>
        <style>.intro_content{
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
}

.intro{
    background-image: url("../css/img/intro_bg.png");
    background-repeat: no-repeat;
    width: 379px;
    height: 350px;
}

.start{
    background-image: url("../css/img/start_btn.png");
    background-repeat: no-repeat;
    width: 106px;
    height: 138px;
}</style>
    <div class="intro_content">
        <div class="intro"><p>Hello</p></div>
        <div class="start"></div>
    </div>
    </template>
    <script>/* jshint newcap: false */

var selfConnecting;
Polymer({

    bush: undefined,

    ready: function(){
        selfConnecting = this;
    },
    onPlayersReady: function(){
        document.querySelector('.start').addEventListener('click', function(e) {
            console.log('Start button');
        });
    }
});</script>
</polymer-element>
