.intro_content{
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
}

.intro{
    background-image: url("../css/img/intro.png");
    background-repeat: no-repeat;
    width: 379px;
    height: 350px;
}

.start{
    background-image: url("../css/img/start_btn.png");
    background-repeat: no-repeat;
    width: 106px;
    height: 138px;
}